name: Deploy to Blog Site Repo

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Blog Source
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.5"

      - name: Build Site
        run: |
          go mod tidy
          go run main.go

      - name: Deploy to Blog Site
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.DEPLOY_TOKEN }}
          external_repository: aroki1/aroki1.github.io
          publish_dir: ./public
          publish_branch: main
          force_orphan: true
